/* Estilos generales (sin cambios) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../fotos/veteranos.jpg);
  background-position: center;
  background-size: cover;
}

.form-register {
  width: 90%;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  backdrop-filter: blur(10px);
  padding: 5%;
  margin: auto;
  margin-top: 5%;
  border-radius: 10px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  text-align: center;
  font-size: 3vw;
  margin-bottom: 10px;
}

.form-register h2 {
  text-align: center;
  font-size: 2vw;
  margin-bottom: 10px;
}

.controls {
  width: 100%;
  background: #fff;
  padding: 2%;
  border-radius: 4px;
  margin-bottom: 3%;
  border-bottom: 2px solid #CBCBCB;
  font-family: 'calibri';
  font-size: 2vw;
  color: white;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
}

.form-register p {
  height: 4vh;
  text-align: center;
  font-size: 2vw;
  line-height: 4vh;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons a {
  text-decoration: none;
  width: 100%;
  height: 5vh;
  border-radius: 5vw;
  background: transparent;
  color: white;
  font-size: 1.5vw;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid white;
  margin-bottom: 2%;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media query para pantallas más grandes (por ejemplo, pantalla completa) */
@media screen and (min-width: 1200px) {
  .form-register h4 {
      font-size: 24px; /* Ajustar el tamaño de fuente para pantallas grandes */
  }

  .form-register h2 {
      font-size: 18px; /* Ajustar el tamaño de fuente para pantallas grandes */
  }

  .controls {
      font-size: 16px; /* Ajustar el tamaño de fuente para pantallas grandes */
  }

  .form-register p {
      font-size: 16px; /* Ajustar el tamaño de fuente para pantallas grandes */
  }

  .form-register .botons a {
      font-size: 16px; /* Ajustar el tamaño de fuente para pantallas grandes */
  }
}
@media screen and (min-width: 240px) {
  .form-register h4 {
      font-size: 24px; /* Ajustar el tamaño de fuente para pantallas grandes */
  }

  .form-register h2 {
      font-size: 18px; /* Ajustar el tamaño de fuente para pantallas grandes */
  }

  .controls {
      font-size: 16px; /* Ajustar el tamaño de fuente para pantallas grandes */
  }

  .form-register p {
      font-size: 16px; /* Ajustar el tamaño de fuente para pantallas grandes */
  }

  .form-register .botons a {
      font-size: 16px; /* Ajustar el tamaño de fuente para pantallas grandes */
  }
}
@media screen and (min-width: 480px) {
  .form-register h4 {
      font-size: 24px; /* Ajustar el tamaño de fuente para pantallas grandes */
  }

  .form-register h2 {
      font-size: 18px; /* Ajustar el tamaño de fuente para pantallas grandes */
  }

  .controls {
      font-size: 16px; /* Ajustar el tamaño de fuente para pantallas grandes */
  }

  .form-register p {
      font-size: 16px; /* Ajustar el tamaño de fuente para pantallas grandes */
  }

  .form-register .botons a {
      font-size: 16px; /* Ajustar el tamaño de fuente para pantallas grandes */
  }
}
